{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "",

  "Parameters": {
    "ResourcePrefix": {
      "Description" : "Resource prefix",
      "Type": "String"
    },
    "Tag1Key": {
      "Description" : "Tag key",
      "Type": "String"
    },
    "Tag1Value": {
      "Description" : "Tag value",
      "Type": "String"
    },
    "SubnetAvailabilityZone1": {
      "Description" : "Availability Zone of Subnet",
      "Type": "String"
    },
    "SubnetAvailabilityZone2": {
      "Description" : "Availability Zone of Subnet",
      "Type": "String"
    },


    "DBInstanceClass": {
      "Description" : "RDS instance type",
      "Type": "String",
      "Default" : "db.t2.micro",
      "AllowedValues" : [ "db.m4.large", "db.m4.xlarge", "db.m4.2xlarge", "db.m4.4xlarge",
                          "db.m4.10xlarge", "db.m3.medium", "db.m3.large", "db.m3.xlarge", "db.m3.2xlarge",
                          "db.r3.large", "db.r3.xlarge", "db.r3.2xlarge", "db.r3.4xlarge", "db.r3.8xlarge",
                          "db.t2.micro","db.t2.small", "db.t2.medium", "db.t2.large"
      ],
      "ConstraintDescription" : "must be a valid RDS instance type."
    },
    "DBName": {
      "Description" : "Database schema name",
      "Type": "String"
    },
    "DBEngineVersion": {
      "Description" : "RDS (Postgresql) engine version",
      "Type": "String",
      "AllowedValues" : [ "9.6.1", "9.5.4", "9.5.2", "9.4.9", "9.4.7", "9.3.14", "9.3.12" ],
      "ConstraintDescription" : "must be a valid RDS engine version."
    },
    "DBLicenseModel": {
      "Description" : "RDS (Postgresql) engine license model",
      "Type": "String",
      "Default" : "postgresql-license",
      "AllowedValues" : [ "postgresql-license" ],
      "ConstraintDescription" : "must be a valid RDS license model."
    },
    "DBMasterUsername": {
      "Description" : "Database master user name",
      "Type": "String"
    },
    "DBMasterUserPassword": {
      "Description" : "Database master user password",
      "Type": "String"
    },
    "DBStorageType": {
      "Description" : "RDS (Postgresql) storage type",
      "Type": "String",
      "Default" : "standard",
      "AllowedValues" : [ "standard", "gp2", "io1" ],
      "ConstraintDescription" : "must be a valid RDS storage type."
    },


    "ElastiCacheNodeType": {
      "Description" : "ElastiCache node type",
      "Type": "String",
      "Default" : "cache.t2.micro",
      "AllowedValues": [
        "cache.t2.micro", "cache.t2.small", "cache.t2.medium",
        "cache.m3.medium", "cache.m3.large", "cache.m3.xlarge", "cache.m3.2xlarge",
        "cache.m4.large", "cache.m4.xlarge", "cache.m4.2xlarge", "cache.m4.4xlarge", "cache.m4.10xlarge",
        "cache.r3.large", "cache.r3.xlarge", "cache.r3.2xlarge", "cache.r3.4xlarge", "cache.r3.8xlarge"
      ]
    },
    "ElastiCacheVersion": {
      "Description" : "ElastiCache (Redis) engine version",
      "Type": "String",
      "AllowedValues" : [ "3.2.4", "2.8.24", "2.8.23", "2.8.22", "2.8.21", "2.8.19", "2.8.6", "2.6.13" ],
      "ConstraintDescription" : "must be a valid Elasticache engine version."
    },


    "InstanceType" : {
      "Description" : "Mastodon WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "t2.micro",
      "AllowedValues" : [ "t1.micro", "t2.nano", "t2.micro", "t2.small", "t2.medium", "t2.large",
                          "m1.small", "m1.medium", "m1.large", "m1.xlarge",
                          "m2.xlarge", "m2.2xlarge", "m2.4xlarge", "m3.medium", "m3.large", "m3.xlarge", "m3.2xlarge",
                          "m4.large", "m4.xlarge", "m4.2xlarge", "m4.4xlarge", "m4.10xlarge",
                          "c1.medium", "c1.xlarge", "c3.large", "c3.xlarge", "c3.2xlarge", "c3.4xlarge", "c3.8xlarge",
                          "c4.large", "c4.xlarge", "c4.2xlarge", "c4.4xlarge", "c4.8xlarge",
                          "g2.2xlarge", "g2.8xlarge", "r3.large", "r3.xlarge", "r3.2xlarge", "r3.4xlarge", "r3.8xlarge",
                          "i2.xlarge", "i2.2xlarge", "i2.4xlarge", "i2.8xlarge",
                          "d2.xlarge", "d2.2xlarge", "d2.4xlarge", "d2.8xlarge", "hi1.4xlarge", "hs1.8xlarge",
                          "cr1.8xlarge", "cc2.8xlarge", "cg1.4xlarge"],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },
    "InstanceAMI": {
      "Description" : "Mastodon WebServer EC2 instance AMI ID",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid EC2 AMI ID."
    },
    "EC2KeyPair": {
      "Description" : "Mastodon WebServer EC2 Key Pair Name",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid EC2 Key Pair Name."
    }

  },

  "Mappings": {
    "CIDR": {
      "VPC"           : { "IP": "10.0.0.0/16" },
      "PrivateSubnet1": { "IP": "10.0.10.0/24" },
      "PrivateSubnet2": { "IP": "10.0.11.0/24" },
      "PublicSubnet"  : { "IP": "10.0.20.0/24" },
      "All"           : { "IP": "0.0.0.0/0" }
    },
    "RDSConfig": {
      "Port": { "Value": "5432" },
      "Storage": { "ValueByGb": "20" },
      "BackupRetentionPeriod": { "Value": "3" }
    },
    "ElastiCacheConfig": {
      "Port": { "Value": "6379" },
      "SnapshotRetentionLimit": { "Value": "3" },
      "SnapshotWindow": { "Value": "05:00-09:00" }
    },
    "InstanceConfig": {
      "Storage": { "ValueByGb": "20" }
    },
    "ServicePostConfig": {
      "Mastodon": { "Port": "3000" },
      "Stream": { "Port": "4000" }
    }
  },

  "Resources" : {
    "VPC": {
      "Type" : "AWS::EC2::VPC",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "VPC", "IP" ] },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "InternetGW": {
      "Type" : "AWS::EC2::InternetGateway",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "VPCRouteTable":
    {
      "Type" : "AWS::EC2::RouteTable",
      "Properties" : {
        "VpcId" : { "Ref": "VPC" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "VPCRouteTableRoute": {
      "Type" : "AWS::EC2::Route",
      "Properties" : {
        "DestinationCidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GatewayId" : { "Ref": "InternetGW" },
        "RouteTableId" : { "Ref": "VPCRouteTable" }
      }
    },


    "PrivateSubnet1": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "MapPublicIpOnLaunch" : false,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone1" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PrivateSubnet2": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "MapPublicIpOnLaunch" : false,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone2" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PublicSubnet": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "MapPublicIpOnLaunch" : true,
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },


    "PublicSubnetNetworkAcl": {
      "Type" : "AWS::EC2::NetworkAcl",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PublicSubnetNetworkAclEntryIngressSSH": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 22,
          "To": 22
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 110
      }
    },
    "PublicSubnetNetworkAclEntryIngressConnectBack": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 1024,
          "To": 65535
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 190
      }
    },
    "PublicSubnetNetworkAclEntryIngressICMP": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "Icmp": {
          "Code": -1,
          "Type": -1
        },
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : 1,
        "RuleAction" : "allow",
        "RuleNumber" : 200
      }
    },
    "PublicSubnetNetworkAclEntryIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 300
      }
    },
    "PublicSubnetNetworkAclEntryIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 310
      }
    },
    "PublicSubnetNetworkAclEntryEgress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : true,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },

    "PublicSubnetRouteTableAssociation": {
      "Type" : "AWS::EC2::SubnetRouteTableAssociation",
      "Properties" : {
        "RouteTableId" : { "Ref": "VPCRouteTable" },
        "SubnetId" : { "Ref": "PublicSubnet" }
      }
    },


    "PrivateSubnetNetworkAcl": {
      "Type" : "AWS::EC2::NetworkAcl",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PrivateSubnetNetworkAclEntryIngress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },
    "PrivateSubnetNetworkAclEntryEgress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : true,
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },


    "PrivateSubnet1ToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PrivateSubnet1" },
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" }
      }
    },
    "PrivateSubnet2ToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PrivateSubnet2" },
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" }
      }
    },
    "PublicSubnetToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PublicSubnet" },
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" }
      }
    },


    "SecurityGroupMastodonInstance": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for Mastodon Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupMastodonInstanceIngressMastodon": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ServicePostConfig", "Mastodon", "Port" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ServicePostConfig", "Mastodon", "Port" ] },
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceIngressStream": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ServicePostConfig", "Stream", "Port" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ServicePostConfig", "Stream", "Port" ] },
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceIngressSSH": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : 22,
        "ToPort" : 22,
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "-1"
      }
    },


    "VPCGatewayAttachment": {
      "Type" : "AWS::EC2::VPCGatewayAttachment",
      "Properties" : {
        "InternetGatewayId" : { "Ref": "InternetGW" },
        "VpcId" : { "Ref": "VPC" }
      }
    },

    "EIPNat" : {
      "Type" : "AWS::EC2::EIP",
      "Properties" : {
        "Domain" : "vpc"
      }
    },

    "NAT" : {
      "DependsOn" : "VPCGatewayAttachment",
      "Type" : "AWS::EC2::NatGateway",
      "Properties" : {
        "AllocationId" : { "Fn::GetAtt" : ["EIPNat", "AllocationId"] },
        "SubnetId" : { "Ref" : "PublicSubnet" }
      }
    },

    "NATRouteTable": {
      "Type" : "AWS::EC2::RouteTable",
      "Properties" : {
        "VpcId" : { "Ref": "VPC" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "NATRoute" : {
      "Type" : "AWS::EC2::Route",
      "Properties" : {
        "RouteTableId" : { "Ref" : "NATRouteTable" },
        "DestinationCidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "NatGatewayId" : { "Ref" : "NAT" }
      }
    },

    "MastodonInstanceIAMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version" : "2012-10-17",
          "Statement": [ {
            "Effect": "Allow",
            "Principal": {
              "Service": [ "ec2.amazonaws.com" ]
            },
            "Action": [ "sts:AssumeRole" ]
          } ]
        },
        "Path": "/",
        "Policies": [ {
          "PolicyName": "root",
          "PolicyDocument": {
            "Version" : "2012-10-17",
            "Statement": [ {
              "Effect": "Allow",
              "Action": "s3:*",
              "Resource": "*"
            } ]
          }
        } ]
      }
    },
    "MastodonInstanceProfile": {
      "Type": "AWS::IAM::InstanceProfile",
      "Properties": {
        "Roles": [ { "Ref": "MastodonInstanceIAMRole" } ]
      }
    },
    "MastodonInstanceNetworkIF": {
      "Type" : "AWS::EC2::NetworkInterface",
      "Properties" : {
        "Description" : "Mastodon Instance Network Interface.",
        "GroupSet" : [ { "Ref": "SecurityGroupMastodonInstance" } ],
        "SourceDestCheck" : true,
        "SubnetId" : { "Ref": "PublicSubnet" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "MastodonInstance": {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "BlockDeviceMappings" : [ {
          "DeviceName" : "/dev/sda1",
          "Ebs" : {
            "DeleteOnTermination" : true,
            "VolumeSize" : { "Fn::FindInMap" : [ "InstanceConfig", "Storage", "ValueByGb" ] }
          }
        } ],
        "DisableApiTermination" : false,
        "IamInstanceProfile" : { "Ref": "MastodonInstanceProfile" },
        "ImageId" : { "Ref": "InstanceAMI" },
        "InstanceInitiatedShutdownBehavior" : "stop",
        "InstanceType" : { "Ref": "InstanceType" },
        "KeyName" : { "Ref": "EC2KeyPair" },
        "Monitoring" : true,
        "NetworkInterfaces" : [ {
          "Description" : "Mastodon Network Interface.",
          "DeviceIndex" : "0",
          "NetworkInterfaceId" : { "Ref": "MastodonInstanceNetworkIF" }
        } ],
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "UserData" : ""
      }
    },
    "MastodonInstanceEIP" : {
      "Type" : "AWS::EC2::EIP",
      "Properties" : {
        "InstanceId" : { "Ref": "MastodonInstance" },
        "Domain" : "vpc"
      }
    },


    "SecurityGroupRDS": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for RDS Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupRDSIngressPublicSubnet": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "-1"
      }
    },
    "RDSSubnetGroup": {
      "Type" : "AWS::RDS::DBSubnetGroup",
      "Properties" : {
        "DBSubnetGroupDescription" : "RDS Subnet Group",
        "SubnetIds" : [ { "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" } ],
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "RDSInstance": {
      "Type" : "AWS::RDS::DBInstance",
      "Properties" :
      {
        "AllocatedStorage" : { "Fn::FindInMap" : [ "RDSConfig", "Storage", "ValueByGb" ] },
        "AllowMajorVersionUpgrade" : false,
        "AutoMinorVersionUpgrade" : true,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone1" },
        "BackupRetentionPeriod" : { "Fn::FindInMap" : [ "RDSConfig", "BackupRetentionPeriod", "Value" ] },
        "CopyTagsToSnapshot" : true,
        "DBInstanceClass" : { "Ref": "DBInstanceClass" },
        "DBInstanceIdentifier" : { "Fn::Join" : [ "-", [ { "Ref": "ResourcePrefix" }, "RDS" ] ] },
        "DBName" : { "Ref": "DBName" },
        "VPCSecurityGroups" : [
          { "Ref": "SecurityGroupRDS" }
        ],
        "DBSubnetGroupName" : { "Ref": "RDSSubnetGroup" },
        "Engine" : "postgres",
        "EngineVersion" : { "Ref": "DBEngineVersion" },
        "LicenseModel" : { "Ref": "DBLicenseModel" },
        "MasterUsername" : { "Ref": "DBMasterUsername" },
        "MasterUserPassword" : { "Ref": "DBMasterUserPassword" },
        "MultiAZ" : false,
        "Port" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "PubliclyAccessible" : false,
        "StorageEncrypted" : false,
        "StorageType" : { "Ref": "DBStorageType" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "SecurityGroupElastiCache": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for ElastiCache Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupElastiCacheIngressPublicSubnet": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "-1"
      }
    },
    "ElastiCacheSubnetGroup": {
      "Type" : "AWS::ElastiCache::SubnetGroup",
      "Properties" : {
        "CacheSubnetGroupName" : "ElastiCacheSubnetGroup",
        "Description" : "SubnetGroup for ElastiCache instance.",
        "SubnetIds" : [ { "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" } ]
      }
    },
    "ElastiCacheCluster": {
      "Type" : "AWS::ElastiCache::CacheCluster",
      "Properties" :
      {
        "AutoMinorVersionUpgrade" : true,
        "CacheNodeType" : { "Ref": "ElastiCacheNodeType" },
        "CacheSubnetGroupName" : { "Ref": "ElastiCacheSubnetGroup" },
        "ClusterName" : { "Fn::Join" : [ "-", [ { "Ref": "ResourcePrefix" }, "Redis" ] ] },
        "Engine" : "redis",
        "EngineVersion" : { "Ref": "ElastiCacheVersion" },
        "NumCacheNodes" : 1,
        "Port" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcSecurityGroupIds" : [ {"Fn::GetAtt": [ "SecurityGroupElastiCache", "GroupId"]} ]
      }
    }
  },

  "Outputs": {
    "ElasticacheEndPoint": {
      "Description": "Address of Elasticache",
      "Value": { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Address" ] }
    },
    "ElasticacheEndPointPort": {
      "Description": "Address of Elasticache",
      "Value": { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Port" ] }
    }
  }
}
