{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "",

  "Parameters": {
    "Tag1Key": {
      "Description" : "Tag key",
      "Type": "String"
    },
    "Tag1Value": {
      "Description" : "Tag value",
      "Type": "String"
    },


    "MastodonFQDN": {
      "Description" : "FQDN of mastodon",
      "Type": "String"
    },


    "SubnetAvailabilityZone1": {
      "Description" : "Availability Zone of Subnet",
      "Type": "String"
    },
    "SubnetAvailabilityZone2": {
      "Description" : "Availability Zone of Subnet",
      "Type": "String"
    },


    "DBInstanceClass": {
      "Description" : "RDS instance type",
      "Type": "String",
      "Default" : "db.t2.micro",
      "AllowedValues" : [ "db.m4.large", "db.m4.xlarge", "db.m4.2xlarge", "db.m4.4xlarge",
                          "db.m4.10xlarge", "db.m3.medium", "db.m3.large", "db.m3.xlarge", "db.m3.2xlarge",
                          "db.r3.large", "db.r3.xlarge", "db.r3.2xlarge", "db.r3.4xlarge", "db.r3.8xlarge",
                          "db.t2.micro","db.t2.small", "db.t2.medium", "db.t2.large"
      ],
      "ConstraintDescription" : "must be a valid RDS instance type."
    },
    "DBName": {
      "Description" : "Database schema name",
      "Type": "String"
    },
    "DBEngineVersion": {
      "Description" : "RDS (Postgresql) engine version",
      "Type": "String",
      "AllowedValues" : [ "9.6.1", "9.5.4", "9.5.2", "9.4.9", "9.4.7", "9.3.14", "9.3.12" ],
      "ConstraintDescription" : "must be a valid RDS engine version."
    },
    "DBLicenseModel": {
      "Description" : "RDS (Postgresql) engine license model",
      "Type": "String",
      "Default" : "postgresql-license",
      "AllowedValues" : [ "postgresql-license" ],
      "ConstraintDescription" : "must be a valid RDS license model."
    },
    "DBMasterUsername": {
      "Description" : "Database master user name",
      "Type": "String"
    },
    "DBMasterUserPassword": {
      "Description" : "Database master user password",
      "Type": "String"
    },
    "DBStorageType": {
      "Description" : "RDS (Postgresql) storage type",
      "Type": "String",
      "Default" : "standard",
      "AllowedValues" : [ "standard", "gp2", "io1" ],
      "ConstraintDescription" : "must be a valid RDS storage type."
    },


    "ElastiCacheNodeType": {
      "Description" : "ElastiCache node type",
      "Type": "String",
      "Default" : "cache.t2.micro",
      "AllowedValues": [
        "cache.t2.micro", "cache.t2.small", "cache.t2.medium",
        "cache.m3.medium", "cache.m3.large", "cache.m3.xlarge", "cache.m3.2xlarge",
        "cache.m4.large", "cache.m4.xlarge", "cache.m4.2xlarge", "cache.m4.4xlarge", "cache.m4.10xlarge",
        "cache.r3.large", "cache.r3.xlarge", "cache.r3.2xlarge", "cache.r3.4xlarge", "cache.r3.8xlarge"
      ]
    },
    "ElastiCacheVersion": {
      "Description" : "ElastiCache (Redis) engine version",
      "Type": "String",
      "AllowedValues" : [ "3.2.4", "2.8.24", "2.8.23", "2.8.22", "2.8.21", "2.8.19", "2.8.6", "2.6.13" ],
      "ConstraintDescription" : "must be a valid Elasticache engine version."
    },


    "InstanceType" : {
      "Description" : "Mastodon WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "t2.micro",
      "AllowedValues" : [ "t1.micro", "t2.nano", "t2.micro", "t2.small", "t2.medium", "t2.large",
                          "m1.small", "m1.medium", "m1.large", "m1.xlarge",
                          "m2.xlarge", "m2.2xlarge", "m2.4xlarge", "m3.medium", "m3.large", "m3.xlarge", "m3.2xlarge",
                          "m4.large", "m4.xlarge", "m4.2xlarge", "m4.4xlarge", "m4.10xlarge",
                          "c1.medium", "c1.xlarge", "c3.large", "c3.xlarge", "c3.2xlarge", "c3.4xlarge", "c3.8xlarge",
                          "c4.large", "c4.xlarge", "c4.2xlarge", "c4.4xlarge", "c4.8xlarge",
                          "g2.2xlarge", "g2.8xlarge", "r3.large", "r3.xlarge", "r3.2xlarge", "r3.4xlarge", "r3.8xlarge",
                          "i2.xlarge", "i2.2xlarge", "i2.4xlarge", "i2.8xlarge",
                          "d2.xlarge", "d2.2xlarge", "d2.4xlarge", "d2.8xlarge", "hi1.4xlarge", "hs1.8xlarge",
                          "cr1.8xlarge", "cc2.8xlarge", "cg1.4xlarge"],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },
    "InstanceAMI": {
      "Description" : "Mastodon WebServer EC2 instance AMI ID",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid EC2 AMI ID."
    },
    "EC2KeyPair": {
      "Description" : "Mastodon WebServer EC2 Key Pair Name",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid EC2 Key Pair Name."
    },


    "CertS3Bucket": {
      "Description" : "S3 bucket name of server certificate files.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid S3 bucket name."
    },
    "CertS3Folder": {
      "Description" : "S3 folder name of server certificate files. (ex. \"cert\")",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid S3 folder name."
    },
    "CertS3CertName": {
      "Description" : "S3 key name of server certificate file.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid S3 key name."
    },
    "CertS3KeyName": {
      "Description" : "S3 key name of server certificate key file.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid S3 key name."
    },
    "AcmCertificateArn": {
      "Description" : "AWS Certificate Manager ARN.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid ARN of AWS Certificate Manager."
    },


    "ContentsS3Bucket": {
      "Description" : "S3 bucket name of content cache.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid S3 bucket name."
    },
    "ContentsAWSAccessKey": {
      "Description" : "AWSAccessKey for S3 access.",
      "Type" : "String"
    },
    "ContentsAWSAccessSecret": {
      "Description" : "AWSAccessSecret for S3 access.",
      "Type" : "String"
    },


    "AccessLogS3Bucket": {
      "Description" : "S3 Bucket domain name for Cloud Front Log.",
      "Type" : "String"
    },


    "SMTPHostName": {
      "Description" : "SMTP host name.",
      "Type" : "String"
    },
    "SMTPHostPort": {
      "Description" : "SMTP host port number.",
      "Default" : "587",
      "Type" : "Number"
    },
    "SMTPUserName": {
      "Description" : "SMTP user name.",
      "Type" : "String"
    },
    "SMTPPassword": {
      "Description" : "SMTP user password.",
      "Type" : "String"
    },
    "SMTPSenderAddress": {
      "Description" : "E-mail address of mail sender.",
      "Type" : "String",
      "ConstraintDescription" : "must be a valid e-mail address."
    }
  },


  "Mappings": {
    "CIDR": {
      "VPC"           : { "IP": "10.0.0.0/16" },
      "PrivateSubnet1": { "IP": "10.0.10.0/24" },
      "PrivateSubnet2": { "IP": "10.0.11.0/24" },
      "PublicSubnet"  : { "IP": "10.0.20.0/24" },
      "All"           : { "IP": "0.0.0.0/0" }
    },
    "RDSConfig": {
      "Port": { "Value": "5432" },
      "Storage": { "ValueByGb": "20" },
      "BackupRetentionPeriod": { "Value": "3" }
    },
    "ElastiCacheConfig": {
      "Port": { "Value": "6379" },
      "SnapshotRetentionLimit": { "Value": "3" },
      "SnapshotWindow": { "Value": "05:00-09:00" }
    },
    "InstanceConfig": {
      "Storage": { "ValueByGb": "20" }
    }
  },


  "Conditions": {
    "IsVirginia": { "Fn::Equals" : [ { "Ref": "AWS::Region" }, "us-east-1"] }
  },


  "Resources" : {
    "VPC": {
      "Type" : "AWS::EC2::VPC",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "VPC", "IP" ] },
        "EnableDnsHostnames": true,
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "InternetGW": {
      "Type" : "AWS::EC2::InternetGateway",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "VPCRouteTable": {
      "Type" : "AWS::EC2::RouteTable",
      "Properties" : {
        "VpcId" : { "Ref": "VPC" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "VPCRouteTableRoute": {
      "Type" : "AWS::EC2::Route",
      "Properties" : {
        "DestinationCidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GatewayId" : { "Ref": "InternetGW" },
        "RouteTableId" : { "Ref": "VPCRouteTable" }
      }
    },


    "PrivateSubnet1": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "MapPublicIpOnLaunch" : false,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone1" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PrivateSubnet2": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "MapPublicIpOnLaunch" : false,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone2" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PublicSubnet": {
      "Type" : "AWS::EC2::Subnet",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "MapPublicIpOnLaunch" : true,
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },


    "PublicSubnetNetworkAcl": {
      "Type" : "AWS::EC2::NetworkAcl",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PublicSubnetNetworkAclEntryIngressHttp": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 80,
          "To": 80
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 110
      }
    },
    "PublicSubnetNetworkAclEntryIngressHttps": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 443,
          "To": 443
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 120
      }
    },
    "PublicSubnetNetworkAclEntryIngressSSH": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 22,
          "To": 22
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 130
      }
    },
    "PublicSubnetNetworkAclEntryIngressConnectBack": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "PortRange" : {
          "From": 1024,
          "To": 65535
        },
        "Protocol" : 6,
        "RuleAction" : "allow",
        "RuleNumber" : 190
      }
    },
    "PublicSubnetNetworkAclEntryIngressICMP": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : false,
        "Icmp": {
          "Code": -1,
          "Type": -1
        },
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : 1,
        "RuleAction" : "allow",
        "RuleNumber" : 200
      }
    },
    "PublicSubnetNetworkAclEntryIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 300
      }
    },
    "PublicSubnetNetworkAclEntryIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 310
      }
    },
    "PublicSubnetNetworkAclEntryEgress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : true,
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },

    "PublicSubnetRouteTableAssociation": {
      "Type" : "AWS::EC2::SubnetRouteTableAssociation",
      "Properties" : {
        "RouteTableId" : { "Ref": "VPCRouteTable" },
        "SubnetId" : { "Ref": "PublicSubnet" }
      }
    },


    "PrivateSubnetNetworkAcl": {
      "Type" : "AWS::EC2::NetworkAcl",
      "Properties" : {
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "PrivateSubnetNetworkAclEntryIngress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "Egress" : false,
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },
    "PrivateSubnetNetworkAclEntryEgress": {
      "Type" : "AWS::EC2::NetworkAclEntry",
      "Properties" : {
        "CidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "Egress" : true,
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" },
        "Protocol" : -1,
        "RuleAction" : "allow",
        "RuleNumber" : 100
      }
    },


    "PrivateSubnet1ToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PrivateSubnet1" },
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" }
      }
    },
    "PrivateSubnet2ToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PrivateSubnet2" },
        "NetworkAclId" : { "Ref": "PrivateSubnetNetworkAcl" }
      }
    },
    "PublicSubnetToNetworkACL": {
      "Type" : "AWS::EC2::SubnetNetworkAclAssociation",
      "Properties" : {
        "SubnetId" : { "Ref": "PublicSubnet" },
        "NetworkAclId" : { "Ref": "PublicSubnetNetworkAcl" }
      }
    },


    "SecurityGroupMastodonInstance": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for Mastodon Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupMastodonInstanceIngressHttp": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : 80,
        "ToPort" : 80,
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceIngressHttps": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : 443,
        "ToPort" : 443,
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceIngressSSH": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "FromPort" : 22,
        "ToPort" : 22,
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupMastodonInstanceEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupMastodonInstance" },
        "IpProtocol" : "-1"
      }
    },


    "ContentsBucket": {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        "AccessControl" : "Private",
        "BucketName" : { "Ref": "ContentsS3Bucket" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "CloudFrontAccessLogBucket": {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        "AccessControl" : "Private",
        "BucketName" : { "Ref": "AccessLogS3Bucket" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "VPCGatewayAttachment": {
      "Type" : "AWS::EC2::VPCGatewayAttachment",
      "Properties" : {
        "InternetGatewayId" : { "Ref": "InternetGW" },
        "VpcId" : { "Ref": "VPC" }
      }
    },

    "EIPNat" : {
      "Type" : "AWS::EC2::EIP",
      "Properties" : {
        "Domain" : "vpc"
      }
    },

    "NAT" : {
      "DependsOn" : "VPCGatewayAttachment",
      "Type" : "AWS::EC2::NatGateway",
      "Properties" : {
        "AllocationId" : { "Fn::GetAtt" : ["EIPNat", "AllocationId"] },
        "SubnetId" : { "Ref" : "PublicSubnet" }
      }
    },

    "NATRouteTable": {
      "Type" : "AWS::EC2::RouteTable",
      "Properties" : {
        "VpcId" : { "Ref": "VPC" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "NATRoute" : {
      "Type" : "AWS::EC2::Route",
      "Properties" : {
        "RouteTableId" : { "Ref" : "NATRouteTable" },
        "DestinationCidrBlock" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "NatGatewayId" : { "Ref" : "NAT" }
      }
    },

    "MastodonInstanceIAMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version" : "2012-10-17",
          "Statement": [ {
            "Effect": "Allow",
            "Principal": {
              "Service": [ "ec2.amazonaws.com" ]
            },
            "Action": [ "sts:AssumeRole" ]
          } ]
        },
        "Path": "/",
        "Policies": [ {
          "PolicyName": "root",
          "PolicyDocument": {
            "Version" : "2012-10-17",
            "Statement": [ 
              {
                "Effect": "Allow",
                "Action": "s3:*",
                "Resource": { "Fn::Join" : [ "", [ "arn:aws:s3:::", { "Ref": "CertS3Bucket" } ] ] }
              },
              {
                "Effect": "Allow",
                "Action": "s3:GetObject",
                "Resource": { "Fn::Join" : [ "", [ "arn:aws:s3:::", { "Ref": "CertS3Bucket" }, "/*" ] ] }
              },
              {
                "Effect": "Allow",
                "Action": "s3:*",
                "Resource": { "Fn::Join" : [ "", [ "arn:aws:s3:::", { "Ref": "ContentsS3Bucket" } ] ] }
              },
              {
                "Effect": "Allow",
                "Action": "s3:*",
                "Resource": { "Fn::Join" : [ "", [ "arn:aws:s3:::", { "Ref": "ContentsS3Bucket" }, "/*" ] ] }
              }
            ]
          }
        } ]
      }
    },
    "MastodonInstanceProfile": {
      "Type": "AWS::IAM::InstanceProfile",
      "Properties": {
        "Roles": [ { "Ref": "MastodonInstanceIAMRole" } ]
      }
    },
    "MastodonInstanceNetworkIF": {
      "Type" : "AWS::EC2::NetworkInterface",
      "Properties" : {
        "Description" : "Mastodon Instance Network Interface.",
        "GroupSet" : [ { "Ref": "SecurityGroupMastodonInstance" } ],
        "SourceDestCheck" : true,
        "SubnetId" : { "Ref": "PublicSubnet" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "MastodonInstance": {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "BlockDeviceMappings" : [ {
          "DeviceName" : "/dev/sda1",
          "Ebs" : {
            "DeleteOnTermination" : true,
            "VolumeSize" : { "Fn::FindInMap" : [ "InstanceConfig", "Storage", "ValueByGb" ] }
          }
        } ],
        "DisableApiTermination" : false,
        "IamInstanceProfile" : { "Ref": "MastodonInstanceProfile" },
        "ImageId" : { "Ref": "InstanceAMI" },
        "InstanceInitiatedShutdownBehavior" : "stop",
        "InstanceType" : { "Ref": "InstanceType" },
        "KeyName" : { "Ref": "EC2KeyPair" },
        "Monitoring" : true,
        "NetworkInterfaces" : [ {
          "Description" : "Mastodon Network Interface.",
          "DeviceIndex" : "0",
          "NetworkInterfaceId" : { "Ref": "MastodonInstanceNetworkIF" }
        } ],
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "UserData": {"Fn::Base64": {"Fn::Join": ["", [
          "#!/bin/bash -xe\n",
          "# ********** Install packages for cloud formation **********\n",
          "apt-get update \n",
          "apt-get -y install python-pip \n",
          "pip install --upgrade pip \n",
          "pip install https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz \n",
          "cp -a /usr/local/bin/cfn-hup /etc/init.d/cfn-hup\n",
          "chmod u+x /etc/init.d/cfn-hup\n",
          "update-rc.d cfn-hup defaults \n",

          "# ********** Install required packages **********\n",
          "apt-get install -y ",
          "  imagemagick ffmpeg libpq-dev libxml2-dev libxslt1-dev nodejs file git",
          "   curl gcc g++ ruby ruby-dev make postgresql-client nginx awscli\n",
          "curl -sL https://deb.nodesource.com/setup_4.x | bash - \n",
          "apt-get install -y nodejs \n",
          "npm install -g yarn \n",
          "gem install bundler \n",

          "# ********** Add user **********\n",
          "useradd -d /home/mastodon --create-home --user-group mastodon\n",

          "# ********** Build Mastodon **********\n",
          "cd /home/mastodon \n",
          "git clone https://github.com/tootsuite/mastodon.git live \n",
          "cd live \n",
          "git checkout $(git tag | tail -n 1) \n",

          "bundle install --deployment --without development test \n",
          "yarn install --pure-lockfile \n",

          "# ********** Setup Mastodon **********\n",
          "cat << 'EOSEOSEOS' > .env.production\n",
          "# GENERATED BY CLOUD FORMATION TEMPLATE\n",
          "# Redis\n",
          "REDIS_HOST=", { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Address" ] }, "\n",
          "REDIS_PORT=", { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Port" ] }, "\n",
          "# Database\n",
          "DB_HOST=", { "Fn::GetAtt": [ "RDSInstance", "Endpoint.Address" ] }, "\n",
          "DB_USER=", { "Ref": "DBMasterUsername" }, "\n",
          "DB_NAME=", { "Ref": "DBName" }, "\n",
          "DB_PASS=", { "Ref": "DBMasterUserPassword" }, "\n",
          "DB_PORT=", { "Fn::GetAtt": [ "RDSInstance", "Endpoint.Port" ] }, "\n",
          "# Domain\n",
          "LOCAL_DOMAIN=", { "Ref": "MastodonFQDN" }, "\n",
          "LOCAL_HTTPS=true\n",
          "# Mail\n",
          "SMTP_SERVER=", { "Ref": "SMTPHostName" }, "\n",
          "SMTP_PORT=", { "Ref": "SMTPHostPort" }, "\n",
          "SMTP_LOGIN=", { "Ref": "SMTPUserName" }, "\n",
          "SMTP_PASSWORD=", { "Ref": "SMTPPassword" }, "\n",
          "SMTP_FROM_ADDRESS=", { "Ref": "SMTPSenderAddress" }, "\n",
          "# Aws\n",
          "S3_ENABLED=true\n",
          "S3_BUCKET=", { "Ref": "ContentsS3Bucket" }, "\n",
          "AWS_ACCESS_KEY_ID=", { "Ref": "ContentsAWSAccessKey" }, "\n",
          "AWS_SECRET_ACCESS_KEY=", { "Ref": "ContentsAWSAccessSecret" }, "\n",
          "S3_REGION=", { "Ref": "AWS::Region" }, "\n",
          "S3_PROTOCOL=https\n",
          "S3_HOSTNAME=", { "Fn::If": [ "IsVirginia", 
                                        "s3.amazonaws.com", 
                                        { "Fn::Join": [ "", [ "s3-", { "Ref": "AWS::Region" }, ".amazonaws.com" ] ] } ] }, "\n",
          "EOSEOSEOS\n\n",
          "echo \"SECRET_KEY_BASE=`rake secret`\" >> .env.production\n",

          "RAILS_ENV=production bundle exec rails db:setup\n",
          "RAILS_ENV=production bundle exec rails assets:precompile\n",

          "cd .. \n",
          "chown -R mastodon:mastodon live \n",

          "# ********** Configure systemd for mastodon **********\n",
          "cat << EOSEOSEOS > /etc/systemd/system/mastodon-web.service\n",
          "[Unit]\n",
          "Description=mastodon-web\n",
          "After=network.target\n",

          "[Service]\n",
          "Type=simple\n",
          "User=mastodon\n",
          "WorkingDirectory=/home/mastodon/live\n",
          "Environment=\"RAILS_ENV=production\"\n",
          "Environment=\"PORT=3000\"\n",
          "ExecStart=/usr/local/bin/bundle exec puma -C config/puma.rb\n",
          "TimeoutSec=15\n",
          "Restart=always\n",

          "[Install]\n",
          "WantedBy=multi-user.target\n",
          "EOSEOSEOS\n\n",

          "cat << EOSEOSEOS > /etc/systemd/system/mastodon-sidekiq.service\n",
          "[Unit]\n",
          "Description=mastodon-sidekiq\n",
          "After=network.target\n",

          "[Service]\n",
          "Type=simple\n",
          "User=mastodon\n",
          "WorkingDirectory=/home/mastodon/live\n",
          "Environment=\"RAILS_ENV=production\"\n",
          "Environment=\"DB_POOL=5\"\n",
          "ExecStart=/usr/local/bin/bundle exec sidekiq -c 5 -q default -q mailers -q pull -q push\n",
          "TimeoutSec=15\n",
          "Restart=always\n",

          "[Install]\n",
          "WantedBy=multi-user.target\n",
          "EOSEOSEOS\n\n",

          "cat << EOSEOSEOS > /etc/systemd/system/mastodon-streaming.service\n",
          "[Unit]\n",
          "Description=mastodon-streaming\n",
          "After=network.target\n",

          "[Service]\n",
          "Type=simple\n",
          "User=mastodon\n",
          "WorkingDirectory=/home/mastodon/live\n",
          "Environment=\"NODE_ENV=production\"\n",
          "Environment=\"PORT=4000\"\n",
          "ExecStart=/usr/bin/npm run start\n",
          "TimeoutSec=15\n",
          "Restart=always\n",

          "[Install]\n",
          "WantedBy=multi-user.target\n",
          "EOSEOSEOS\n\n",

          "systemctl enable /etc/systemd/system/mastodon-*.service\n",

          "# ********** Get server certificate **********\n",
          "mkdir /etc/letsencrypt \n",
          "aws s3 cp s3://", { "Fn::Join" : [ "/", [ { "Ref": "CertS3Bucket" }, { "Ref": "CertS3Folder" }, { "Ref": "CertS3CertName" } ] ] }, " /etc/letsencrypt/ \n",
          "aws s3 cp s3://", { "Fn::Join" : [ "/", [ { "Ref": "CertS3Bucket" }, { "Ref": "CertS3Folder" }, { "Ref": "CertS3KeyName" } ] ] }, " /etc/letsencrypt/ \n",

          "# ********** Setup Nginx **********\n",
          "cat << 'EOSEOSEOS' > /etc/nginx/sites-available/", { "Ref": "MastodonFQDN" } ,"\n",
          "map $http_upgrade $connection_upgrade {\n",
          "  default upgrade;\n",
          "  ''      close;\n",
          "}\n",

          "server {\n",
          "  listen 80;\n",
          "  listen [::]:80;\n",
          "  server_name ", { "Ref": "MastodonFQDN" } ,";\n",

          "  keepalive_timeout    70;\n",
          "  sendfile             on;\n",
          "  client_max_body_size 0;\n",

          "  root /home/mastodon/live/public;\n",

          "  gzip on;\n",
          "  gzip_disable \"msie6\";\n",
          "  gzip_vary on;\n",
          "  gzip_proxied any;\n",
          "  gzip_comp_level 6;\n",
          "  gzip_buffers 16 8k;\n",
          "  gzip_http_version 1.1;\n",
          "  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;\n",

          "  add_header Strict-Transport-Security \"max-age=31536000\";\n",

          "  location / {\n",
          "    try_files $uri @proxy;\n",
          "  }\n",

          "  location /assets {\n",
          "    add_header Cache-Control \"public, max-age=31536000, immutable\";\n",
          "  }\n",

          "  location @proxy {\n",
          "    proxy_set_header Host $host;\n",
          "    proxy_set_header X-Real-IP $remote_addr;\n",
          "    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n",
          "    proxy_set_header X-Forwarded-Proto https;\n",
          "    proxy_set_header Proxy \"\";\n",
          "    proxy_pass_header Server;\n",

          "    proxy_pass http://127.0.0.1:3000;\n",
          "    proxy_buffering off;\n",
          "    proxy_redirect off;\n",
          "    proxy_http_version 1.1;\n",
          "    proxy_set_header Upgrade $http_upgrade;\n",
          "    proxy_set_header Connection $connection_upgrade;\n",

          "    tcp_nodelay on;\n",
          "  }\n",

          "  location /api/v1/streaming {\n",
          "    proxy_set_header Host $host;\n",
          "    proxy_set_header X-Real-IP $remote_addr;\n",
          "    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;\n",
          "    proxy_set_header X-Forwarded-Proto https;\n",
          "    proxy_set_header Proxy \"\";\n",

          "    proxy_pass http://localhost:4000;\n",
          "    proxy_buffering off;\n",
          "    proxy_redirect off;\n",
          "    proxy_http_version 1.1;\n",
          "    proxy_set_header Upgrade $http_upgrade;\n",
          "    proxy_set_header Connection $connection_upgrade;\n",

          "    tcp_nodelay on;\n",
          "  }\n",

          "  error_page 500 501 502 503 504 /500.html;\n",
          "}\n",
          "EOSEOSEOS\n\n",

          "ln -s /etc/nginx/sites-available/", { "Ref": "MastodonFQDN" } ,
          "      /etc/nginx/sites-enabled/", { "Ref": "MastodonFQDN" } ," \n",
          "rm -f /etc/nginx/sites-enabled/default \n",

          "# ********** Setup daily cron **********\n",
          "cat << EOSEOSEOS > /home/mastodon/mastodon.daily\n",
          "cd /home/mastodon/live\n",
          "RAILS_ENV=production /usr/local/bin/bundle exec rake mastodon:daily > /dev/null\n",
          "EOSEOSEOS\n\n",

          "chown mastodon:mastodon /home/mastodon/mastodon.daily\n",
          "chmod +x /home/mastodon/mastodon.daily\n",
          "echo \"0 18 * * *  mastodon    /home/mastodon/mastodon.daily\" >> /etc/crontab\n",

          "# ********** Restart system **********\n",
          "reboot \n",

          "# ********** The End **********\n"
        ] ] } }
      }
    },


    "SecurityGroupRDS": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for RDS Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupRDSIngressPublicSubnet": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupRDSEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupRDS" },
        "IpProtocol" : "-1"
      }
    },
    "RDSSubnetGroup": {
      "Type" : "AWS::RDS::DBSubnetGroup",
      "Properties" : {
        "DBSubnetGroupDescription" : "RDS Subnet Group",
        "SubnetIds" : [ { "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" } ],
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },
    "RDSInstance": {
      "Type" : "AWS::RDS::DBInstance",
      "Properties" :
      {
        "AllocatedStorage" : { "Fn::FindInMap" : [ "RDSConfig", "Storage", "ValueByGb" ] },
        "AllowMajorVersionUpgrade" : false,
        "AutoMinorVersionUpgrade" : true,
        "AvailabilityZone" : { "Ref": "SubnetAvailabilityZone1" },
        "BackupRetentionPeriod" : { "Fn::FindInMap" : [ "RDSConfig", "BackupRetentionPeriod", "Value" ] },
        "CopyTagsToSnapshot" : true,
        "DBInstanceClass" : { "Ref": "DBInstanceClass" },
        "DBInstanceIdentifier" : { "Fn::Join" : [ "-", [ { "Ref": "AWS::StackName" }, "RDS" ] ] },
        "DBName" : { "Ref": "DBName" },
        "VPCSecurityGroups" : [
          { "Ref": "SecurityGroupRDS" }
        ],
        "DBSubnetGroupName" : { "Ref": "RDSSubnetGroup" },
        "Engine" : "postgres",
        "EngineVersion" : { "Ref": "DBEngineVersion" },
        "LicenseModel" : { "Ref": "DBLicenseModel" },
        "MasterUsername" : { "Ref": "DBMasterUsername" },
        "MasterUserPassword" : { "Ref": "DBMasterUserPassword" },
        "MultiAZ" : false,
        "Port" : { "Fn::FindInMap" : [ "RDSConfig", "Port", "Value" ] },
        "PubliclyAccessible" : false,
        "StorageEncrypted" : false,
        "StorageType" : { "Ref": "DBStorageType" },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ]
      }
    },


    "SecurityGroupElastiCache": {
      "Type" : "AWS::EC2::SecurityGroup",
      "Properties" : {
        "GroupDescription" : "Security Group for ElastiCache Instance Host",
        "Tags" :  [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcId" : { "Ref": "VPC" }
      }
    },
    "SecurityGroupElastiCacheIngressPublicSubnet": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PublicSubnet", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheIngressPrivateSubnet1": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet1", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheIngressPrivateSubnet2": {
      "Type" : "AWS::EC2::SecurityGroupIngress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "PrivateSubnet2", "IP" ] },
        "FromPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "ToPort" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "tcp"
      }
    },
    "SecurityGroupElastiCacheEgress": {
      "Type" : "AWS::EC2::SecurityGroupEgress",
      "Properties" : {
        "CidrIp" : { "Fn::FindInMap" : [ "CIDR", "All", "IP" ] },
        "GroupId" : { "Ref": "SecurityGroupElastiCache" },
        "IpProtocol" : "-1"
      }
    },
    "ElastiCacheSubnetGroup": {
      "Type" : "AWS::ElastiCache::SubnetGroup",
      "Properties" : {
        "CacheSubnetGroupName" : { "Fn::Join" : [ "-", [ { "Ref": "AWS::StackName" }, "ECSubnetGroup" ] ] },
        "Description" : "SubnetGroup for ElastiCache instance.",
        "SubnetIds" : [ { "Ref": "PrivateSubnet1" }, { "Ref": "PrivateSubnet2" } ]
      }
    },
    "ElastiCacheCluster": {
      "Type" : "AWS::ElastiCache::CacheCluster",
      "Properties" :
      {
        "AutoMinorVersionUpgrade" : true,
        "CacheNodeType" : { "Ref": "ElastiCacheNodeType" },
        "CacheSubnetGroupName" : { "Ref": "ElastiCacheSubnetGroup" },
        "ClusterName" : { "Fn::Join" : [ "-", [ { "Ref": "AWS::StackName" }, "Redis" ] ] },
        "Engine" : "redis",
        "EngineVersion" : { "Ref": "ElastiCacheVersion" },
        "NumCacheNodes" : 1,
        "Port" : { "Fn::FindInMap" : [ "ElastiCacheConfig", "Port", "Value" ] },
        "Tags" : [
          { "Key": { "Ref": "Tag1Key" }, "Value": { "Ref": "Tag1Value"} }
        ],
        "VpcSecurityGroupIds" : [ {"Fn::GetAtt": [ "SecurityGroupElastiCache", "GroupId"]} ]
      }
    },

    "CloudFrontDistribution": {
      "Type" : "AWS::CloudFront::Distribution",
      "Properties" : {
        "DistributionConfig" : {
          "Aliases" : [ { "Ref": "MastodonFQDN" } ],
          "Comment" : "Cloud Front Distribution for Mastodon",
          "DefaultCacheBehavior" : {
            "AllowedMethods" :  ["DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT"],
            "CachedMethods" : ["GET", "HEAD", "OPTIONS"],
            "Compress" : true,
            "DefaultTTL" : 3600,
            "ForwardedValues" : {
              "QueryString" : true
            },
            "MaxTTL" : 3600,
            "MinTTL" : 0,
            "TargetOriginId" : { "Fn::Join" : [ "-", [ { "Ref": "AWS::StackName" }, "CF-Dist" ] ] },
            "ViewerProtocolPolicy" : "redirect-to-https"
          },
          "Enabled" : true,
          "HttpVersion" : "http2",
          "Logging" : {
            "Bucket" : { "Fn::GetAtt": [ "CloudFrontAccessLogBucket", "DomainName" ] },
            "IncludeCookies" : true,
            "Prefix" : { "Ref": "AWS::StackName" }
          },
          "Origins" : [ {
            "CustomOriginConfig" : {
              "HTTPPort" : 80,
              "HTTPSPort" : 443,
              "OriginProtocolPolicy" : "http-only"
            },
            "DomainName" : { "Fn::GetAtt": [ "MastodonInstance", "PublicDnsName" ] },
            "Id" : { "Fn::Join" : [ "-", [ { "Ref": "AWS::StackName" }, "CF-Dist" ] ] }
          } ],
          "ViewerCertificate" : {
            "AcmCertificateArn" : { "Ref": "AcmCertificateArn" },
            "SslSupportMethod" : "vip"
          }
        }
      }
    }

  },

  "Outputs": {
    "MastodonInstanceIP": {
      "Description": "IP address of Mastodon instance",
      "Value": { "Fn::GetAtt": [ "MastodonInstance", "PublicIp" ] }
    },
    "MastodonInstanceHostName": {
      "Description": "Host name of Mastodon instance",
      "Value": { "Fn::GetAtt": [ "MastodonInstance", "PublicDnsName" ] }
    },
    "RDSInstanceEndPoint": {
      "Description": "Address of RDS",
      "Value": { "Fn::GetAtt": [ "RDSInstance", "Endpoint.Address" ] }
    },
    "RDSInstanceEndPointPort": {
      "Description": "Port number of RDS",
      "Value": { "Fn::GetAtt": [ "RDSInstance", "Endpoint.Port" ] }
    },
    "ElasticacheEndPoint": {
      "Description": "Address of Elasticache",
      "Value": { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Address" ] }
    },
    "ElasticacheEndPointPort": {
      "Description": "Port number of Elasticache",
      "Value": { "Fn::GetAtt": [ "ElastiCacheCluster", "RedisEndpoint.Port" ] }
    }
  }
}
