AWS_REGION=us-east-1
AWS_ACCOUNT=123456789012
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

VPC_CIDR=10.0.0.0/16

NAT_INSTANCE_TYPE=t3.nano

RUBY_VERSION=3.3.5

#RDS_SNAPSHOT_ID=
#RDS_SNAPSHOT_DB_NAME=mastodon
#RDS_SNAPSHOT_DB_USER_NAME=mastodon
#RDS_SNAPSHOT_DB_PASSWORD=

RDS_STORAGE_GB=50
RDS_DATABASE_NAME=mastodon
RDS_USER_NAME=mastodon

BASTON_KEY_PAIR_NAME=Virginia

# https://cloud-images.ubuntu.com/locator/ec2/
BASTION_AMI=ami-0cad6ee50670e3d0e
MASTODON_AMI=ami-0cad6ee50670e3d0e

MASTODON_GIT_URL=https://github.com/mastodon/mastodon.git
MASTODON_GIT_TAG=v4.3.1
MASTODON_FQDN=mastodon.example.com
MASTODON_STORAGE_GB=15
#MASTODON_SECRET_KEY_BASE=
#MASTODON_OTP_SECRET=

MASTODON_ATTACHMENT_FQDN=img-mastodon.example.com
MASTODON_ATTACHMENT_CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/01234567-89ab-cdef-0123-456789abcdef

SMTP_SERVER=mail.example.com
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=mail@example.com

LB_ACCESS_LOG_PREFIX=lb-access-log
LB_CERTIFICATE_ARN=arn:aws:acm:us-east-1:123456789012:certificate/01234567-89ab-cdef-0123-456789abcdef

ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=vxDUpPhp0ettLp6E38zWiGRvH4pidLM2
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=u5PsHJNVvAUXA6XZFYlOP3qypmoHnf81
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=5YtUCqNnjMxiMZ2sxAaWklJTTYTGLyuf
