AWS_REGION=us-east-1

VPC_CIDR=10.0.0.0/16

NAT_INSTANCE_TYPE=t3a.nano

ZONE_DOMAIN=mastodon.example.com
# MASTODON_HOST=
MASTODON_ATTACHMENT_HOST=img

RUBY_VERSION=3.3.5

#RDS_SNAPSHOT_ID=
RDS_STORAGE_GB=50
RDS_DATABASE_NAME=mastodon
RDS_USER_NAME=mastodon

# https://cloud-images.ubuntu.com/locator/ec2/
BASTION_AMI=ami-0ec612e1caf93df8c
MASTODON_AMI=ami-0ec612e1caf93df8c

MASTODON_GIT_URL=https://github.com/mastodon/mastodon.git
MASTODON_GIT_TAG=v4.3.6
MASTODON_STORAGE_GB=15
#MASTODON_SECRET_KEY_BASE=
#MASTODON_OTP_SECRET=
MASTODON_ACCESS_LOG_PREFIX=app-access-log

SMTP_SERVER=mail.example.com
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=mail@example.com

ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
